name: Build and Deploy TEAM App

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "!docs/**"
      - "!deployment/**"
      - "package.json"

  workflow_dispatch:

env:
  SERVICE_ID: 3e17f16e-ff3a-4005-aa9a-23c2f2ed5485
  EMAIL_SOURCE: cloudops@spscommerce.com
  REGION: us-east-1
  TEAM_ACCOUNT: 504831389664
  TAGS: sps:service_id=3e17f16e-ff3a-4005-aa9a-23c2f2ed5485 sps:owner=cloudops@spscommerce.com sps:email_manager=tsjordan@spscommerce.com sps:boundary_id=504831389664 sps:cost_owner=adomeier@spscommerce.com sps:boundary_name=spsawsidentitycenter
  CLOUDTRAIL_AUDIT_LOGS: read_write

jobs:
  build-and-deploy:
    environment: prod
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
      contents: write

    steps:
        # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1-node16
        with:
          role-to-assume: arn:aws:iam::504831389664:role/COGithubActionsDeployRole
          aws-region: us-east-1

      - name: deploy TEAM app
        run: |
          aws cloudformation deploy --region ${{ env.REGION }} --template-file ./deploymenyt/template.yml \
          --stack-name PRIVILEGED-ACCESS \
          --parameter-overrides \
            Source=${{ env.EMAIL_SOURCE }} \
            Login=${{ secrets.IDC_LOGIN_URL }} \
            CloudTrailAuditLogs=${{ env.CLOUDTRAIL_AUDIT_LOGS }} \
            teamAdminGroup=${{ secrets.TEAM_ADMIN_GROUP }} \
            teamAuditGroup=${{ secrets.TEAM_AUDITOR_GROUP}} \
          --tags ${{ env.TAGS }} \
          --no-fail-on-empty-changeset --capabilities CAPABILITY_NAMED_IAM


